*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
}

.logo img{
    height:60px;
    width: 139px;
    padding-top: 5px;
    margin-left: 120px;
    
}

.menu{
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    margin:0 auto;
}

.menu a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}


.test{
    justify-content: space-between;
    display: flex;
}


.btn{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.start {
    background-image: url(../assets/hero-bg.png);
    width: 1521px;
    height: 674px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.start-items{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.start-items button{
    background-color: white;
    color:#30B868;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px 8px 34px;

}

.start-items h1{
    width: 770px;
    height: 168px;
    color: white;

}