*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
}

.logo img{
    height:60px;
    width: 139px;
    padding-top: 5px;
    margin-left: 120px;
    
}

.menu{
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    margin:0 auto;
}

.menu a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}


.test{
    justify-content: space-between;
    display: flex;
}


.btn{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.start {
    background-image: url(../assets/hero-bg.png);
    width: 1521px;
    height: 674px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.start-items{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.start-items button{
    background-color: white;
    color:#30B868;
    border: none;
    border-radius: 1000px;
    margin-top: 150px;
    padding: 8px 12px 8px 34px;

}

.start-items h1{
    width: 770px;
    height: 150px;
    width: 100%;
    font-size: 60px;
    color: white;
    align-items: center;

}

.start-items p{
    color: #ffffffaf;
    font-size: 18px;
    height: 60px;
    gap:32px;
}

.start-items .btn1{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.start-items .btn2{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
}

.middle .d1{
    max-width: 1360px;
    height: 116px;
    margin-bottom: 16px;
}

.middle .d1 h1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.middle .d1 p{
    text-align: center;
    font-size: 16px;
}

.middle .d2{
    display: flex;
    flex-direction: row;
    margin: 44px 120px 44px 120px;
    gap:24px;
}

.middle .d2 .o,.t,.th,.fo{
    align-items: center;
    padding: 9.5px 24px 59.5px 24px;
    justify-content: center;
    align-items: center;
}

